.my-info {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.detail {
    padding-left: 20px;
}

.my-info img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.my-info h4 {
    margin: 0px;
}

.my-info p {
    margin: 0px;
}